body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

label {
  font-weight: bold;
  display: block;
}

body main.container {
  background-color: #f0f0f0;
}

img {
  height: auto;
  max-width: 100%;
}

form > div {
  margin: 3% 0;
}

form > div > div label {
  margin: 3% 0;
}

input[type="text"],
textarea {
  width: 100%;
  height: 5vh;
  border-radius: 0.25rem;
  border-color: #bababa;
  border-style: solid;
  font-size: large;
}

textarea {
  height: 20vh;
  margin-top: 0.75rem;
}

input[type="text"]:focus,
textarea:focus {
  outline-color: #562b81;
}

input[type="submit"],
input[type="button"] {
  background-color: #562b81;
  color: white;
  border-radius: 0.25rem;
  border-color: transparent;
  width: 15%;
  padding: 0.5rem;
  margin-top: 1rem;
}

input[type="button"] {
  width: auto;
  margin-top: 0;
}

header {
  background-color: #562b81;
}

i {
  color: #562b81;
  font-size: larger;
}

li {
  list-style: none;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

a,
h3,
h1 {
  display: inline-block;
  padding: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: inline-block;
}

a {
  padding-left: 1rem;
}

a:hover,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

.cover {
  object-fit: contain;
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.border-round {
  border-radius: 3%;
}

.font-weight-normal {
  font-weight: normal;
}

.margin-top {
  margin-top: 2rem;
}

.no-padding {
  padding: 0;
}

#header-container {
  background-color: #562b81;
  color: white;
}

#delete {
  background-color: transparent;
  color: red;
  text-decoration: underline;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 75%);
}

#modal-box {
  background-color: white;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  input[type="submit"],
  input [type="button"] {
    padding: 0.5rem;
    width: 4.5rem;
    margin-top: 1rem;
  }

  div > label,
  div > input[type="text"] {
    display: inline;
    margin-top: 0.5rem;
  }

  div > input[type="text"] {
    height: 100%;
    padding: 0.5rem 0.3rem;
  }

  textarea {
    padding: 0.5rem;
  }

  h1,
  h3,
  a {
    padding: 0 0.75rem;
  }

  img {
    height: 45vh;
  }

  .margin-top-bottom {
    margin: 1rem 0;
  }

  .margin-bottom {
    margin-bottom: 2rem;
  }
}
